@import 'td/code-dark';

.td-navbar {
  background-color: #80a7e9 !important;
}

.nav-tabs {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.td-content table {
  display: table;
  width: 100% !important;
  margin-bottom: 1.5rem;
}

.td-footer {
  background-color: #f8f9fa !important; 
  border-top: 1px solid #e9ecef;
}

.td-footer, .td-footer a, .td-footer span {
  color: #4a4a4a !important;
}